@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
	font-family: "DM Sans", sans-serif;
}

option {
	color: black;
}

.customScrollbar::-webkit-scrollbar {
	width: 12px;
	height: 5px;
}

.customScrollbar::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

.customScrollbar::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 6px;
	margin: 2px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}